#content {
  width: 920px;
  min-height: 500px;
  padding: 0 30px;
  background-color: cornsilk;
}

td {
  padding: 0 2px;
}

a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}



