/* F O N T S */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Julius+Sans+One&display=swap');

/* C O L O U R S */
:root {
  --color-dark: hsl(72, 6%, 16%);
  --color-light: hsl(60, 17%, 91%);
  --color-medium: hsl(60, 1%, 29%);
  --color-main: hsl(0, 24%, 67%);

  --color-view: hsl(151, 48%, 41%);
  --color-edit: hsl(204, 54%, 49%);
  --color-delete: hsl(5, 75%, 56%);

  --font-logo: 'Indie Flower', cursive, serif;
  --font-main: 'Julius Sans One', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-medium);
}

p {
  line-height: 1.5;
}

header {
  background-color: var(--color-main);
  position: fixed;
  top: 0;
  width: 100vw;
  /* height: 15vh; */
  height: 70px;
  text-align: center;
  padding: 0.5rem 0;
  text-align: center;
}

header h1 a {
  font-family: var(--font-logo);
  font-size: 40px;
  text-shadow: 1px 1px var(--color-light);
}

header button {
  font-size: auto;
  height: calc(3vh + 3vw);
  max-height: 30px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;

  /* min-height: 50px; */
}

body,
input,
select,
button,
a {
  font-family: var(--font-main);
}

#content {
  padding: 1rem;
  max-width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 60px;
  background-color: var(--color-light);
  text-align: center;
}

#content>* {
  padding-bottom: 1.5em;
}

td {
  padding: 0 2px;
}

a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

footer {
  background-color: var(--color-main);
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 0.5rem;
  font-size: small;
}

button {
  width: 150px;
  font-size: 70%;
  font-weight: 1000;
  padding: 0 !important;
}

/* input[type=submit], */
select {
  min-width: 40vw;
}

/* select {
  height: auto;
} */

select option:hover {
  background-color: var(--color-light);
}

/* input[type=submit], */
button {
  background-color: var(--color-light);
  height: 30px;
}

/* input[type=submit]:hover,  */
button:hover,
button:hover a {
  background-color: var(--color-medium);
  color: white;
}

.form {
  padding-bottom: 1.5em;
}

.view_recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  gap: 2rem;
  max-width: 70%;
}

.view_recipe h3 {
  padding: 0.5em 0;
}

.ins_style p {
  text-align: justify;
  text-justify: inter-word;
}

table {
  text-align: left;
  max-width: 70vw;
  margin: auto;
  border-collapse: collapse;
}

table td {
  padding: 0.3em 1em;
}

table tr {
  border-bottom: 1px solid var(--color-dark);
}

table tr:last-child {
  border-bottom: 0;
}

#admin_table i:hover {
  color: var(--color-medium);
}

#ingredients_table input {
  width: 30vw !important;
}

.sections_edit_recipe {
  margin-bottom: 1rem;
}

.view_button {
  color: var(--color-view);
}

.edit_button {
  color: var(--color-edit);
}

.delete_button {
  color: var(--color-delete);
}

.message {
  font-size: 80%;
  font-weight: 1000;
  color: var(--color-edit);
  border: 1px solid var(--color-edit);
  padding: 0.5rem !important;
  margin: 1rem;
}

.errors {
  font-size: 80%;
  font-weight: 1000;
  color: var(--color-delete);
  border: 1px solid var(--color-delete);
  padding: 0.5rem !important;
  margin: 1rem;
}

#user_logged_in {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  position: fixed;
  padding: 0.5rem;
  top: 60px;
  right: 0;
}

#user_logged_in a {
  padding: 0 0.5rem;
}

@media (max-width: 980px) {
  #admin_header nav {
    flex-direction: column;
    gap: 1px;
  }
}


